//compress: false
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,300;1,700&display=swap');
@import 'vars';
html {
    font-size: 15px;
}
body {
    margin: 0;
    font-family: @fonts;
    font-size: 1rem;
    color: @black;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
// Block

@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/user';
@import 'blocks/nav.less';
@import 'blocks/intro';
@import 'blocks/social';
@import 'blocks/btn';
@import 'blocks/works.less';
@import 'blocks/portfolio.less';
@import 'blocks/work.less';
@import 'blocks/helpers.less';
@import 'blocks/about.less';
@import 'blocks/reviews.less';